.detail-main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  max-width: 100vw;
  overflow-x: hidden;
}

.detail-order-list {
  overflow-x: hidden;
  width: 80%;
}

.detail-title {
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.detail-amount {
  margin-top: 15px;
  text-align: right;
}

.order-detail-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  overflow-x: hidden;
}

p {
  background-color: #ffb67e;
  border-radius: 5px;
  color: rgb(54, 47, 47);
  font-weight: 900;
  padding: 10px;
}

.oder-detail-content {
  background-color: #ffb67e;
  border-radius: 5px;
  color: rgb(54, 47, 47);
  font-weight: 900;
  padding: 10px;
}

.order-delivered-check {
  background: #fd9535;
  border-bottom: solid 2px #d27d00;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 black , 0 2px 2px black;
  color: white;
  display: inline-block;
  font-weight: 700;
  padding: 0.6em 0.5em;
  position: relative;
  text-decoration: none;
}

.order-delivered-check:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 , 0 , 2px rgba(0, 0, 0, 0.3);
}

.order-delivered-check:disabled, .order-delivered-check[ disabled ] {
  background-color: #ccc;
  border: 1px solid #999;
  color: #666;
}
