.table {
  border-collapse: collapse;
  width: 100%;
}

.table th, .table td {
  border: 1px solid #ddd;
  font-size: 16px;
  padding: 12px 15px;
  text-align: center;
}

.table th {
  background-color: #de9156;
  color: white;
}

.table tbody tr:nth-child( even ) {
  background-color: #f8d3af;
}

.table-remove {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

@media ( max-width : 850px ) {

  .table thead {
    display: none;
  }

  .table, .table tbody, .table td, .table tr {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 15px;
  }

  .table td {
    padding-left: 50%;
    position: relative;
    text-align: right;
  }

  .table td:before {
    content: attr(data-label);
    font-size: 15px;
    font-weight: 600;
    left: 0;
    padding-left: 15px;
    position: absolute;
    text-align: left;
    width: 50%;
  }

  .table-remove {
    font-weight: 600;
  }
}
